*{
    box-sizing: border-box;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.wrap{
    max-width: 100%;
    margin: 0 auto;
}
/* table reponsive */
@media screen and (min-width: 481px)
{
    .col-0-12{
        display: none;
    }
    .col-1-12{
        width: 8.3333333%;
    }
    .col-2-12{
        width: 16.6666667%;
    }
    
    .col-3-12{
        width: 25%;
    }
    
    .col-4-12{
        width: 33.3333333%;
    }
    
    .col-5-12{
        width: 41.6666667%;
    }
    
    .col-6-12{
        width: 50%;
    }
    
    .col-7-12{
        width: 58.3333333%;
    }
    
    .col-8-12{
        width: 66.6666667%;
    }
    
    .col-9-12{
        width: 75%;
    }
    
    .col-10-12{
        width: 83.3333333%;
    }
    
    .col-11-12{
        width: 91.6666667%;
    }
    
    .col-12-12{
        width: 100%;
    }
    [class^=col]{
        float: left;
    }
}
/* pc reponsive */
@media screen and (min-width:768px)
{
    .col-pc-0-12{
        display: none;
    }
    
    .col-pc-1-12{
        width: 8.3333333%;
    }
    
    .col-pc-2-12{
        width: 16.6666667%;
    }
    
    .col-pc-3-12{
        width: 25%;
    }
    
    .col-pc-4-12{
        width: 33.3333333%;
    }
    
    .col-pc-5-12{
        width: 41.6666667%;
    }
    
    .col-pc-6-12{
        width: 50%;
    }
    
    .col-pc-7-12{
        width: 58.3333333%;
    }
    
    .col-pc-8-12{
        width: 66.6666667%;
    }
    
    .col-pc-9-12{
        width: 75%;
    }
    
    .col-pc-10-12{
        width: 83.3333333%;
    }
    
    .col-pc-11-12{
        width: 91.6666667%;
    }
    
    .col-pc-12-12{
        width: 100%;
    }
}